<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glebivanov.sampleweatherapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".WeatherContentProvider"
            android:authorities="glebivanov.sampleweatherapp.weather" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchCityActivity"
            android:label="@string/title_activity_search_city"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OneCityActivity"
            android:label="@string/title_activity_one_city"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
